
*{
	margin:0 auto;
	padding:0;
}

#all{
	width:960px;
	height:1000px;
	border:solid;
	
}


#content{

	width:555px;
	height:500px;

}

#menu{

	width:425px;
	height:30px;
	float:right;
	margin-top:190px;
	margin-right:80px;

}
.prev{
	float:left;
	margin-top:415px;
	margin-left:10px;
}
.next{
	float:left;
	margin-top:415px;

}
/* galeria de video*/

#box{
 width:520px;
 margin:20px auto;
 background:#fff;
 padding:3px;
 float:left;

 
}
#box #videos{
 width:520px;
 height:350px;
 background:#333;
}
#box #carrosel{
 height:100px;
 width:500px;
 background:#333;
 margin-top:3px;
}
#box #carrosel img{
 margin:2px;
 padding:2px;
 border:1px solid #ccc;
}
#box #carrosel img:hover{background:#fff;};


